<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Painel Admin</title>
    <link rel="stylesheet" href="./css/admin.css" />
    <!-- Script Umani -->
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="e26aad4f-40b6-4665-9cc4-3db6e016640d"
    ></script>
  </head>
  <body>
    <main>
      <!-- formulario de cadastro -->
      <section>
        <h1>Cadastro de Equipamentos</h1>
        <form id="form-equipamento">
          <input
            type="text"
            name="nome"
            placeholder="Nome do equipamento"
            required
          /><br />
          <input
            type="text"
            name="imagemUrl"
            placeholder="URL da imagem"
          /><br />
          <input
            type="text"
            name="preco"
            placeholder="Preço (ex: R$ 50,00)"
            required
          /><br />
          <button type="submit">Cadastrar</button>
        </form>
      </section>
      <!--  -->
      <section>
        <h2>Equipamentos Cadastrados</h2>
        <ul id="lista-equipamentos"></ul>
      </section>
      <section id="editar-equipamento">
        <form id="form-editar" style="display: none">
          <input type="hidden" id="edit-id" />
          <input
            type="text"
            id="edit-nome"
            placeholder="Nome do Equipamento"
            required
          />
          <input
            type="text"
            id="edit-imagem"
            placeholder="URL da Imagem"
            required
          />
          <input type="text" id="edit-preco" placeholder="Preço" required />
          <button type="submit">Salvar Alterações</button>
        </form>
      </section>
    </main>

    <!-- botão de logout -->
    <a href="/logout" id="logout" title="Sair">
      <i class="fa-solid fa-arrow-right-from-bracket" class="logout-icon"></i>
    </a>

    <!-- scripts -->
    <script src="../js/admin.js"></script>
    <!-- icons fontawesome -->
    <script
      src="https://kit.fontawesome.com/5432a0e64c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
