<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Painel Admin</title>

    <!-- Script Umani -->
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="e26aad4f-40b6-4665-9cc4-3db6e016640d"
    ></script>
  </head>
  <body>
    <h1>Cadastro de Equipamentos</h1>
    <form id="form-equipamento">
      <input
        type="text"
        name="nome"
        placeholder="Nome do equipamento"
        required
      /><br />
      <input
        type="text"
        name="imagem"
        placeholder="URL da imagem"
        required
      /><br />
      <input
        type="text"
        name="preco"
        placeholder="Preço (ex: R$ 50,00 por dia)"
        required
      /><br />
      <button type="submit">Cadastrar</button>
    </form>
  </body>
</html>
