<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MA Locações</title>
    <link rel="stylesheet" href="css/index.css" />
    <!-- Script Umani -->
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="e26aad4f-40b6-4665-9cc4-3db6e016640d"
    ></script>
  </head>
  <body>
    <header class="header">
      <h1>MA Locações</h1>
      <nav class="nav">
        <ul>
          <li><a href="#equipamentos">Equipamentos</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- hero -->
      <section class="hero">
        <div class="hero-content">
          <h2>Soluções em Locações para Sua Obra</h2>
          <p>
            Andaimes, betoneiras, escoras e muito mais com qualidade e segurança
          </p>
          <a href="#contato"
            >Solicitar Orçamento <i class="fa-regular fa-clipboard"></i
          ></a>
        </div>
      </section>
      <!-- equipamentos -->
      <section class="equipamentos">
        <h2>Equipamentos Disponíveis</h2>
        <div class="container-equipamentos"></div>
      </section>
    </main>
    <footer class="footer">
      <p>&copy; 2025 MA Locações</p>
      <p>
        Desenvolvido por <a href="https://github.com/joseisaacpy">José Isaac</a>
      </p>
    </footer>
  </body>
  <!-- scripts -->
  <script src="./js/index.js"></script>
  <!-- icons fontawesome -->
  <script
    src="https://kit.fontawesome.com/5432a0e64c.js"
    crossorigin="anonymous"
  ></script>
</html>
