.local {
  background: linear-gradient(
    var(--color-logo-yellow),
    var(--color-logo-yellow),
    var(--color-2)
  );
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.local h2 {
  text-align: center;
  padding: 0.5rem;
}

.local iframe {
  width: 100%;
  min-height: 350px;
  border: none;
  border-radius: 20px;
}
